.grids {
  display: grid;
  grid-template-columns: 350px auto;
  height: auto;
  column-gap: 30px;
}

@media only screen and (max-width: 768px) {
  .grids {
    grid-template-columns: 90%;
    justify-content: center;
  }
}
